.home .group-2-xl4bh6 {
    background-color: transparent;
    height: 572px;
    left: 175px;
    position: absolute;
    top: -32px;
    width: 1095px;
}

.home .mask-group-acGtbQ {
    height: 342px;
    left: 0px;
    top: 115px;
    width: 1089px;
}

.home .mask-group-r7EzPe {
    height: 540px;
    left: 560px;
    top: 32px;
    width: 499px;
}

.home .group-3-acGtbQ {
    background-color: transparent;
    height: 33px;
    left: 137px;
    position: absolute;
    top: 373px;
    width: 110px;
}

.home .rectangle-5-0838dT {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 33px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 108px;
}

.home .arrow-1-0838dT {
    background-color: transparent;
    height: 15px;
    left: 70px;
    position: absolute;
    top: 10px;
    width: 19px;
}

.home .read-0838dT {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 23px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 7px;
    white-space: nowrap;
    width: auto;
}

.home .chapter-165-acGtbQ {
    background-color: transparent;
    color: var(--soft-peach);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 117px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 194px;
    white-space: nowrap;
    width: auto;
}

.home .title-acGtbQ {
    background-color: transparent;
    color: var(--soft-peach);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 117px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 228px;
    width: auto;
}

.home .namanya-menjelaskan-acGtbQ {
    background-color: transparent;
    color: var(--soft-peach);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 117px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 272px;
    width: 490px;
}

.home .group-4-xl4bh6 {
    background-color: transparent;
    height: 69px;
    left: 175px;
    position: absolute;
    top: 430px;
    width: 1109px;
}

.home .rectangle-6-KjkIae {
    background-color: #010101;
    border-radius: 5px;
    height: 69px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1089px;
}
